# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.GGJProject-GJST.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\unitywork\GGJProject\2021.7\GGJProject2021Summer\GGJProject-GJST\.idea\.idea.GGJProject-GJST\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
